body, html {
    height:100%;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset default margins and set height to 100% */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #67d7f1;
}
.instructions h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

.instructions p, .instructions ol, .instructions ul {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

.instructions ol, .instructions ul {
    padding-left: 20px;
}

.instructions h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

/* Home Page Styles */
.home-page {
    background-image: url("../imgs/loginScreen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fffbff; /* Gold color for text */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive; /* Apply game-like font */
    text-align: center;
    position: relative;
}

/* Overlay for better text visibility */
.home-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
    z-index: 1;
}
.home-page > * {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
}

/* Home Title Styles */
.home-title {
    color: #040300; /* Gold color */
    font-size: 2em; /* Adjust as needed */
    text-shadow: 2px 2px #000; /* Black shadow for contrast */
    margin-bottom: 30px; /* Space between title and buttons */
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content towards the top */
    align-items: center;         /* Centers horizontally */
    height: 100vh;               /* Full viewport height */
    padding-top: 15%;           /* Adds space from the top */
    text-align: center;          /* Center the text */
}

.home-page h1 {
    margin-bottom: 10px;     /* Add space between the title and buttons */
}

.btn {
    padding: 15px 30px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}

.btn:hover {
    background-color: #040c79;
}

.btns {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center buttons vertically */
    align-items: center; /* Center buttons horizontally */
    gap: 15px; /* Space between the buttons */
    margin-top: 20px;
}

